/*
Fink62 homepage
Created by: Fink62
*/

body {
    font-family: Arial, sans-serif;
}
.gNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.gNavbarItem {
    margin: 10px;
}
a:link {
    color: Blue;
    text-decoration: none;
}
a:visited {
    color: Blue;
    text-decoration: none;
}
a:active {
    color: Blue;
    text-decoration: none;
}
a:hover {
    color: Blue;
}
