/*
Fink62 homepage
Created by: Fink62
*/

/* DSGVO compliance: local fonts */

/* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather-v30-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
/* sacramento-regular - latin */
@font-face {
    font-family: 'Sacramento';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sacramento-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/sacramento-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sacramento-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sacramento-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sacramento-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sacramento-v13-latin-regular.svg#Sacramento') format('svg'); /* Legacy iOS */
  }

  body {
    font-family: 'Merriweather', serif;
}
.gNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.gNavbarItem {
    margin: 10px;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: Blue;
    text-decoration: none;
}
a:hover {
    color: lightblue;
}
