/*
Fink62 homepage
Created by: Fink62
*/

body {
    font-family: 'Merriweather', serif;
}
.gNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.gNavbarItem {
    margin: 10px;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: Blue;
    text-decoration: none;
}
a:hover {
    color: lightblue;
}
