h1 {
    text-align: center;
    font-weight: lighter;
    color: blue;
    margin-top: 150px;
    margin-bottom: 20px;
}
h2 {
    color: blue;
    font-weight: lighter;
}
h4 {
    color: rgb(216, 58, 58);
    font-weight: lighter;
}
h5 {
    color: black;
    font-weight: lighter;
}
body {
    font-family: Arial, sans-serif;
}
ul {
    list-style: none;
    line-height: 25px;
}
.formRow {
    max-width: 1140px;
    height: 42px;
}
.labelSpace {
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    font-size: 13px;
    vertical-align: middle;
}
.labelField {
    display: table-cell;
    height: 30px;
    vertical-align: middle;
}
.inputSpace {
    display: inline-block;
    width: 50%;
    height: 42px;
    vertical-align: middle;
}
.inputField {
    border: 1px solid gray;
    border-radius: 1px;
    width: 100%;
    height: 28px;
    font-size: 13px;
    padding-left: 4px;
    vertical-align: baseline;
}
.helpSpace {
    display: inline-block;
    width: 30%;
    min-width: 160px;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    margin-left: 1%;
    margin-bottom: 8px;
    color: #555;
    position: relative;
}
.helpField {
    display: table-cell;
    height: 30px;
    vertical-align: middle;
}
.helpSample {
    font-family: monospace;
    white-space: pre;
}
.advSubmit {
    background-color: blue;
    color: white;
    height: 30px;
}
.hpForm {
   text-align: center;
}
.searchBox {
    margin: 10px;
    border: 1px solid gray;
    border-radius: 24px;
    background-color: transparent;
    width: 400px;
    height: 44px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}
.submitBtn {
    margin: 10px;
    border-width: 1px;
    border-radius: 5px;
    height: 34px;
}
.nav {
    text-align: right;
    padding: 5px;
    margin: 10px;
}

footer {
    text-align: center;
    font-size: 10px;
    margin-top: 100px;
}